
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="_content/AdminBlazor/adminlte_bb.css" rel="stylesheet" />
    <link rel="icon" href="logo.png" type="image/gif" />
    <HeadOutlet @rendermode="@InteractiveServer" />
</head>
<body>

    <Routes @rendermode="@InteractiveServer" />

    <script src="_content/AdminBlazor/adminlte_bb.js"></script>
    <script src="_framework/blazor.web.js"></script>

</body>
</html>
@code {

}