@import "plugins/adminlte.min.css";
@import "plugins/dockview.css";
@import "../BootstrapBlazor.FontAwesome/css/font-awesome.min.css";
@import "../BootstrapBlazor/css/bootstrap.blazor.bundle.min.css";
@import "../BootstrapBlazor/css/motronic.min.css";

:root {
    --bb-border-focus-color: #86b7fe;
    --bb-border-hover-color: #86b7fe;
    --bb-height: 35px;
    --bb-dropdown-max-height: 274px;
    --bb-shadow: 0 0 8px 0 rgba(232,237,250,.6),0 2px 4px 0 rgba(232,237,250,.5019607843);
    --bb-hover-shadow: 0 1px 7px 0 rgba(0,0,0,.0509803922),0 2px 8px 0 rgba(0,0,0,.0705882353),0 3px 9px 0 rgba(0,0,0,.0588235294),0 5px 10px 0 rgba(0,0,0,.031372549);
    --bb-font-size: 1rem;
    --lte-sidebar-width:150px;
}
.app-main .app-content {
    height:100%;
    padding:0px;
    font-size:12px;
}
.app-main .app-content {
    border:none;
}
.app-main .app-content .dv-render-overlay {
    padding:0;
    margin:0;
    overflow-y:auto;
}
.app-main .app-content .content-container {
    padding: 0;
    margin: 0;
}
.app-main .app-content .container-fluid {
    padding: 0px 0 0 0;
    margin: 0;
}
.app-main .app-content .container-fluid .col-12 {
    padding: 0px 0 0 0;
    margin: 0;
}
.app-main .app-content .card {
    --bs-card-border-radius: 0;
    padding-top:12px;
    background-color:white;
    border:none;
    box-shadow: none;
}
.app-main .app-content .card .card-header {
    background-color:white;
}
.app-main .app-content .card .card-header:first-child .row {
    padding-left: 6px;
}
.app-main .app-content .card .card-footer {
    border: none;
}

.dropdown-logout .logout-avatar {
    --bb-logout-avatar-width: 30px;
    --bb-logout-avatar-height: 30px;
}
.form-control {
    padding: 3px 6px 3px 6px;
    margin: 0px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
select {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    border-radius: 3px;
    --bs-btn-line-height: 1;
    padding: 0.325rem 0.35rem;
    font-size: 12px;
    line-height: 1.2;
    height: 26px;
}
.form-group {
    font-size: 12px;
}
.btn, .input-group input, .form-group .form-control {
    --bs-btn-line-height: 1;
    border-radius: 3px;
    padding: 0.325rem 0.35rem;
    font-size: 12px;
    line-height: 1.2;
    height: 24px;
}
.btn-xs {
    padding: 0.125rem 0.25rem;
    font-size: 12px;
    line-height: 1;
    border-radius: 3px;
    height: 18px;
}
.btn-light {
    --bs-btn-color: #444;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #ddd;
    --bs-btn-hover-color: #2b2b2b;
    --bs-btn-hover-bg: #e9ecef;
    --bs-btn-hover-border-color: #ddd;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}
.bg-info, .card-info, .text-bg-info {
    --lte-card-variant-bg: #17a2b8;
    --lte-card-variant-bg-rgb: 13,202,240;
    --lte-card-variant-color: #000;
    --lte-card-variant-color-rgb: 0,0,0;
}

[data-bs-theme=dark] {
}

tr.active td {
    background-color: #17a2b8;
    color: white;
}
.sidebar-brand {
    background-color: #17a2b8;
    color: white;
}
.sidebar-menu .nav-link {
    position: relative;
    transition: width ease-in-out .3s;
    border-radius: 3px;
}
.sidebar-menu .nav-item > .nav-link {
    padding:3px;
    margin:6px 0px 0px 0px;
}
.sidebar-menu .nav-item > .nav-link .nav-arrow {
    transition: transform ease-in-out .3s;
    transform: translateY(-50%) rotate(180deg);
    animation-name: fadeIn;
    animation-duration: .3s;
    animation-fill-mode: both;
}
.sidebar-menu .menu-open > .nav-link .nav-arrow {
    transform: translateY(-50%) rotate(270deg);
}
.sidebar-wrapper {
    --lte-sidebar-submenu-active-bg: #17a2b8;
    font-size:12px;
}
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-treeview {
    /*margin-left: 1rem;*/
}
.sidebar-wrapper .sidebar-menu > .nav-item > .nav-treeview .nav-link {
    padding: 3px;
    margin: 0px;
    /*line-height: 18px;*/
}

.m-0 {
    margin: 0 !important
}

.mt-0, .my-0 {
    margin-top: 0 !important
}

.mr-0, .mx-0 {
    margin-right: 0 !important
}

.mb-0, .my-0 {
    margin-bottom: 0 !important
}

.ml-0, .mx-0 {
    margin-left: 0 !important
}

.m-1 {
    margin: .25rem !important
}

.mt-1, .my-1 {
    margin-top: .25rem !important
}

.mr-1, .mx-1 {
    margin-right: .25rem !important
}

.mb-1, .my-1 {
    margin-bottom: .25rem !important
}

.ml-1, .mx-1 {
    margin-left: .25rem !important
}

.m-2 {
    margin: .5rem !important
}

.mt-2, .my-2 {
    margin-top: .5rem !important
}

.mr-2, .mx-2 {
    margin-right: .5rem !important
}

.mb-2, .my-2 {
    margin-bottom: .5rem !important
}

.ml-2, .mx-2 {
    margin-left: .5rem !important
}

.m-3 {
    margin: 1rem !important
}

.mt-3, .my-3 {
    margin-top: 1rem !important
}

.mr-3, .mx-3 {
    margin-right: 1rem !important
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important
}

.ml-3, .mx-3 {
    margin-left: 1rem !important
}

.m-4 {
    margin: 1.5rem !important
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important
}

.mr-4, .mx-4 {
    margin-right: 1.5rem !important
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important
}

.ml-4, .mx-4 {
    margin-left: 1.5rem !important
}

.m-5 {
    margin: 3rem !important
}

.mt-5, .my-5 {
    margin-top: 3rem !important
}

.mr-5, .mx-5 {
    margin-right: 3rem !important
}

.mb-5, .my-5 {
    margin-bottom: 3rem !important
}

.ml-5, .mx-5 {
    margin-left: 3rem !important
}

.p-0 {
    padding: 0 !important
}

.pt-0, .py-0 {
    padding-top: 0 !important
}

.pr-0, .px-0 {
    padding-right: 0 !important
}

.pb-0, .py-0 {
    padding-bottom: 0 !important
}

.pl-0, .px-0 {
    padding-left: 0 !important
}

.p-1 {
    padding: .25rem !important
}

.pt-1, .py-1 {
    padding-top: .25rem !important
}

.pr-1, .px-1 {
    padding-right: .25rem !important
}

.pb-1, .py-1 {
    padding-bottom: .25rem !important
}

.pl-1, .px-1 {
    padding-left: .25rem !important
}

.p-2 {
    padding: .5rem !important
}

.pt-2, .py-2 {
    padding-top: .5rem !important
}

.pr-2, .px-2 {
    padding-right: .5rem !important
}

.pb-2, .py-2 {
    padding-bottom: .5rem !important
}

.pl-2, .px-2 {
    padding-left: .5rem !important
}

.p-3 {
    padding: 1rem !important
}

.pt-3, .py-3 {
    padding-top: 1rem !important
}

.pr-3, .px-3 {
    padding-right: 1rem !important
}

.pb-3, .py-3 {
    padding-bottom: 1rem !important
}

.pl-3, .px-3 {
    padding-left: 1rem !important
}

.p-4 {
    padding: 1.5rem !important
}

.pt-4, .py-4 {
    padding-top: 1.5rem !important
}

.pr-4, .px-4 {
    padding-right: 1.5rem !important
}

.pb-4, .py-4 {
    padding-bottom: 1.5rem !important
}

.pl-4, .px-4 {
    padding-left: 1.5rem !important
}

.p-5 {
    padding: 3rem !important
}

.pt-5, .py-5 {
    padding-top: 3rem !important
}

.pr-5, .px-5 {
    padding-right: 3rem !important
}

.pb-5, .py-5 {
    padding-bottom: 3rem !important
}

.pl-5, .px-5 {
    padding-left: 3rem !important
}

.m-n1 {
    margin: -.25rem !important
}

.mt-n1, .my-n1 {
    margin-top: -.25rem !important
}

.mr-n1, .mx-n1 {
    margin-right: -.25rem !important
}

.mb-n1, .my-n1 {
    margin-bottom: -.25rem !important
}

.ml-n1, .mx-n1 {
    margin-left: -.25rem !important
}

.m-n2 {
    margin: -.5rem !important
}

.mt-n2, .my-n2 {
    margin-top: -.5rem !important
}

.mr-n2, .mx-n2 {
    margin-right: -.5rem !important
}

.mb-n2, .my-n2 {
    margin-bottom: -.5rem !important
}

.ml-n2, .mx-n2 {
    margin-left: -.5rem !important
}

.m-n3 {
    margin: -1rem !important
}

.mt-n3, .my-n3 {
    margin-top: -1rem !important
}

.mr-n3, .mx-n3 {
    margin-right: -1rem !important
}

.mb-n3, .my-n3 {
    margin-bottom: -1rem !important
}

.ml-n3, .mx-n3 {
    margin-left: -1rem !important
}

.m-n4 {
    margin: -1.5rem !important
}

.mt-n4, .my-n4 {
    margin-top: -1.5rem !important
}

.mr-n4, .mx-n4 {
    margin-right: -1.5rem !important
}

.mb-n4, .my-n4 {
    margin-bottom: -1.5rem !important
}

.ml-n4, .mx-n4 {
    margin-left: -1.5rem !important
}

.m-n5 {
    margin: -3rem !important
}

.mt-n5, .my-n5 {
    margin-top: -3rem !important
}

.mr-n5, .mx-n5 {
    margin-right: -3rem !important
}

.mb-n5, .my-n5 {
    margin-bottom: -3rem !important
}

.ml-n5, .mx-n5 {
    margin-left: -3rem !important
}

.m-auto {
    margin: auto !important
}

.mt-auto, .my-auto {
    margin-top: auto !important
}

.mr-auto, .mx-auto {
    margin-right: auto !important
}

.mb-auto, .my-auto {
    margin-bottom: auto !important
}

.ml-auto, .mx-auto {
    margin-left: auto !important
}

.form-group {
    margin-bottom: 1rem;
}
td .form-group, th .form-group {
    margin-bottom: 0;
}

label:not(.form-check-label):not(.custom-file-label) {
    font-weight: 700;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
.form-check-label {
    margin-bottom: 0;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
}

.col-auto {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: 100%
}
.col-1 {
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%
}
.col-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%
}
.col-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%
}
.col-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%
}
.col-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%
}
.col-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.col-7 {
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%
}
.col-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%
}
.col-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%
}
.col-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%
}
.col-11 {
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%
}
.col-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}

blockquote {
    background-color: #fff;
    border-left: 0.7rem solid #007bff;
    margin: 1.5em 0.7rem;
    padding: 0.5em 0.7rem;
}

blockquote {
    margin: 0 0 1rem;
}
blockquote.quote-info {
    border-color: #17a2b8;
}
blockquote.quote-info h2, blockquote.quote-info h3, blockquote.quote-info h4, blockquote.quote-info h5, blockquote.quote-info h6 {
    color: #17a2b8;
}

blockquote h1, blockquote h2, blockquote h3, blockquote h4, blockquote h5, blockquote h6 {
    color: #007bff;
    font-size: 1.25rem;
    font-weight: 600;
}
.modal-header .close {
    padding: 1rem;
    margin: -1rem -1rem -1rem auto;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}
.close:hover {
    color: #000;
    text-decoration: none
}
.close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
    opacity: .75
}
.close:focus {
    outline: 0
}
button.close {
    padding: 0;
    background-color: transparent;
    border: 0
}
a.close.disabled {
    pointer-events: none
}

.modal-content {
    border: 1px solid rgba(0,0,0,.2);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.2);
    border-left-color: rgba(0, 0, 0, 0.2);
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0,0,0,.5);
    outline: 0;
}
.modal-height0 .modal-content {
    height:auto;
}